-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: laravel
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `cache`
--

DROP TABLE IF EXISTS `cache`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache` (
  `key` varchar(255) NOT NULL,
  `value` mediumtext NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache`
--

LOCK TABLES `cache` WRITE;
/*!40000 ALTER TABLE `cache` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cache_locks`
--

DROP TABLE IF EXISTS `cache_locks`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `cache_locks` (
  `key` varchar(255) NOT NULL,
  `owner` varchar(255) NOT NULL,
  `expiration` int(11) NOT NULL,
  PRIMARY KEY (`key`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cache_locks`
--

LOCK TABLES `cache_locks` WRITE;
/*!40000 ALTER TABLE `cache_locks` DISABLE KEYS */;
/*!40000 ALTER TABLE `cache_locks` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `id_type_client` bigint(20) unsigned DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `clients_nom_unique` (`nom`),
  KEY `clients_id_type_client_foreign` (`id_type_client`),
  CONSTRAINT `clients_id_type_client_foreign` FOREIGN KEY (`id_type_client`) REFERENCES `type_clients` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'rabe',NULL,NULL,NULL,NULL,NULL,NULL),(2,'mamela',NULL,NULL,NULL,NULL,NULL,NULL);
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `commandes`
--

DROP TABLE IF EXISTS `commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `commandes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_client` bigint(20) unsigned NOT NULL,
  `date_commande` date NOT NULL,
  `date_livraison` date DEFAULT NULL,
  `total` decimal(10,2) NOT NULL DEFAULT 0.00,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `commandes_id_client_foreign` (`id_client`),
  CONSTRAINT `commandes_id_client_foreign` FOREIGN KEY (`id_client`) REFERENCES `clients` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `commandes`
--

LOCK TABLES `commandes` WRITE;
/*!40000 ALTER TABLE `commandes` DISABLE KEYS */;
INSERT INTO `commandes` VALUES (1,1,'2025-07-05','2025-07-05',0.00,NULL,NULL),(2,2,'2025-07-05','2025-07-08',0.00,NULL,NULL),(19,1,'2025-07-09','2025-07-30',1800.00,'2025-07-09 06:44:36','2025-07-09 06:44:36'),(20,1,'2025-07-09','2025-08-01',1500.00,'2025-07-09 06:53:44','2025-07-09 06:53:44'),(21,1,'2025-07-09','2025-07-31',18000.00,'2025-07-09 07:17:59','2025-07-09 07:18:00'),(22,1,'2025-07-09','2025-07-24',15000.00,'2025-07-09 07:23:51','2025-07-09 07:23:51');
/*!40000 ALTER TABLE `commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `controle_qualites`
--

DROP TABLE IF EXISTS `controle_qualites`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `controle_qualites` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_lot` bigint(20) unsigned NOT NULL,
  `date_controle` date NOT NULL,
  `resultat` varchar(100) NOT NULL,
  `remarque` text DEFAULT NULL,
  `id_employe` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `controle_qualites_id_lot_foreign` (`id_lot`),
  KEY `controle_qualites_id_employe_foreign` (`id_employe`),
  CONSTRAINT `controle_qualites_id_employe_foreign` FOREIGN KEY (`id_employe`) REFERENCES `employes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `controle_qualites_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `controle_qualites`
--

LOCK TABLES `controle_qualites` WRITE;
/*!40000 ALTER TABLE `controle_qualites` DISABLE KEYS */;
/*!40000 ALTER TABLE `controle_qualites` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departements`
--

DROP TABLE IF EXISTS `departements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `departements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `departements_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departements`
--

LOCK TABLES `departements` WRITE;
/*!40000 ALTER TABLE `departements` DISABLE KEYS */;
INSERT INTO `departements` VALUES (1,'Production','D├®partement responsable de la production','2025-07-09 07:45:02','2025-07-09 07:45:02'),(2,'Commerciales','D├®partement des ventes et marketing','2025-07-09 07:45:02','2025-07-09 07:45:02'),(3,'Logistiques','D├®partement de gestion de stock','2025-07-09 07:45:02','2025-07-09 07:45:02');
/*!40000 ALTER TABLE `departements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_lot_productions`
--

DROP TABLE IF EXISTS `detail_lot_productions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_lot_productions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_lot` bigint(20) unsigned NOT NULL,
  `id_employe` bigint(20) unsigned DEFAULT NULL,
  `date_enregistrement` datetime NOT NULL,
  `parametres_production` text DEFAULT NULL,
  `remarques` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detail_lot_productions_id_lot_foreign` (`id_lot`),
  KEY `detail_lot_productions_id_employe_foreign` (`id_employe`),
  CONSTRAINT `detail_lot_productions_id_employe_foreign` FOREIGN KEY (`id_employe`) REFERENCES `employes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `detail_lot_productions_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_lot_productions`
--

LOCK TABLES `detail_lot_productions` WRITE;
/*!40000 ALTER TABLE `detail_lot_productions` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_lot_productions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_mouvement_produits`
--

DROP TABLE IF EXISTS `detail_mouvement_produits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_mouvement_produits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_employe` bigint(20) unsigned DEFAULT NULL,
  `id_lot` bigint(20) unsigned NOT NULL,
  `emplacement` varchar(100) DEFAULT NULL,
  `commentaire` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detail_mouvement_produits_id_employe_foreign` (`id_employe`),
  KEY `detail_mouvement_produits_id_lot_foreign` (`id_lot`),
  CONSTRAINT `detail_mouvement_produits_id_employe_foreign` FOREIGN KEY (`id_employe`) REFERENCES `employes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `detail_mouvement_produits_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_mouvement_produits`
--

LOCK TABLES `detail_mouvement_produits` WRITE;
/*!40000 ALTER TABLE `detail_mouvement_produits` DISABLE KEYS */;
INSERT INTO `detail_mouvement_produits` VALUES (1,1,4,'Entrep├┤t principal - Rayon A1','D├®placement pour stockage initial.',NULL,NULL),(2,1,4,'Entrep├┤t principal - Rayon A1','D├®placement pour stockage initial.',NULL,NULL);
/*!40000 ALTER TABLE `detail_mouvement_produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detail_mouvement_stock_matiere_premieres`
--

DROP TABLE IF EXISTS `detail_mouvement_stock_matiere_premieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `detail_mouvement_stock_matiere_premieres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_fournisseur` bigint(20) unsigned DEFAULT NULL,
  `id_employe` bigint(20) unsigned DEFAULT NULL,
  `id_lot` bigint(20) unsigned DEFAULT NULL,
  `date_reception` date DEFAULT NULL,
  `date_expiration` date DEFAULT NULL,
  `commentaire` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `detail_mouvement_stock_matiere_premieres_id_fournisseur_foreign` (`id_fournisseur`),
  KEY `detail_mouvement_stock_matiere_premieres_id_employe_foreign` (`id_employe`),
  KEY `detail_mouvement_stock_matiere_premieres_id_lot_foreign` (`id_lot`),
  CONSTRAINT `detail_mouvement_stock_matiere_premieres_id_employe_foreign` FOREIGN KEY (`id_employe`) REFERENCES `employes` (`id`) ON DELETE SET NULL,
  CONSTRAINT `detail_mouvement_stock_matiere_premieres_id_fournisseur_foreign` FOREIGN KEY (`id_fournisseur`) REFERENCES `fournisseurs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `detail_mouvement_stock_matiere_premieres_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detail_mouvement_stock_matiere_premieres`
--

LOCK TABLES `detail_mouvement_stock_matiere_premieres` WRITE;
/*!40000 ALTER TABLE `detail_mouvement_stock_matiere_premieres` DISABLE KEYS */;
/*!40000 ALTER TABLE `detail_mouvement_stock_matiere_premieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `employes`
--

DROP TABLE IF EXISTS `employes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `employes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `poste` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `id_statut_employe` bigint(20) unsigned DEFAULT 1,
  `id_departement` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `employes_nom_unique` (`nom`),
  KEY `employes_id_statut_employe_foreign` (`id_statut_employe`),
  KEY `employes_id_departement_foreign` (`id_departement`),
  CONSTRAINT `employes_id_departement_foreign` FOREIGN KEY (`id_departement`) REFERENCES `departements` (`id`) ON DELETE CASCADE,
  CONSTRAINT `employes_id_statut_employe_foreign` FOREIGN KEY (`id_statut_employe`) REFERENCES `statut_employes` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `employes`
--

LOCK TABLES `employes` WRITE;
/*!40000 ALTER TABLE `employes` DISABLE KEYS */;
INSERT INTO `employes` VALUES (1,'Jean Dupont','Manager','jean.dupont@example.com','0123456789',1,1,'2025-07-09 07:45:02','2025-07-09 07:45:02'),(2,'Marie Durand','Technicien','marie.durand@example.com','0987654321',1,1,'2025-07-09 07:45:02','2025-07-09 07:45:02'),(3,'Pierre Martin','Commercial','pierre.martin@example.com','0345678901',1,2,'2025-07-09 07:45:02','2025-07-09 07:45:02'),(4,'Sophie Lef├¿vre','Recruteur','sophie.lefevre@example.com','0765432109',1,3,'2025-07-09 07:45:02','2025-07-09 07:45:02');
/*!40000 ALTER TABLE `employes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `fournisseurs`
--

DROP TABLE IF EXISTS `fournisseurs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `fournisseurs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `email` varchar(100) DEFAULT NULL,
  `telephone` varchar(20) DEFAULT NULL,
  `adresse` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `fournisseurs_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `fournisseurs`
--

LOCK TABLES `fournisseurs` WRITE;
/*!40000 ALTER TABLE `fournisseurs` DISABLE KEYS */;
/*!40000 ALTER TABLE `fournisseurs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gamme_matieres`
--

DROP TABLE IF EXISTS `gamme_matieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gamme_matieres` (
  `id_gamme` bigint(20) unsigned NOT NULL,
  `id_matiere` bigint(20) unsigned NOT NULL,
  `quantite` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_gamme`,`id_matiere`),
  KEY `gamme_matieres_id_matiere_foreign` (`id_matiere`),
  CONSTRAINT `gamme_matieres_id_gamme_foreign` FOREIGN KEY (`id_gamme`) REFERENCES `gammes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `gamme_matieres_id_matiere_foreign` FOREIGN KEY (`id_matiere`) REFERENCES `matiere_premieres` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gamme_matieres`
--

LOCK TABLES `gamme_matieres` WRITE;
/*!40000 ALTER TABLE `gamme_matieres` DISABLE KEYS */;
/*!40000 ALTER TABLE `gamme_matieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gammes`
--

DROP TABLE IF EXISTS `gammes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `gammes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `fermentation_jours` int(11) NOT NULL,
  `vieillissement_jours` int(11) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `gammes_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gammes`
--

LOCK TABLES `gammes` WRITE;
/*!40000 ALTER TABLE `gammes` DISABLE KEYS */;
INSERT INTO `gammes` VALUES (1,'Jus Mangue',NULL,0,0,NULL,NULL),(2,'Jus Litchi',NULL,0,0,NULL,NULL);
/*!40000 ALTER TABLE `gammes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `historique_commandes`
--

DROP TABLE IF EXISTS `historique_commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `historique_commandes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_commande` bigint(20) unsigned NOT NULL,
  `id_status_commande` bigint(20) unsigned NOT NULL,
  `date_hist` date NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `historique_commandes_id_commande_foreign` (`id_commande`),
  KEY `historique_commandes_id_status_commande_foreign` (`id_status_commande`),
  CONSTRAINT `historique_commandes_id_commande_foreign` FOREIGN KEY (`id_commande`) REFERENCES `commandes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `historique_commandes_id_status_commande_foreign` FOREIGN KEY (`id_status_commande`) REFERENCES `statut_commandes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `historique_commandes`
--

LOCK TABLES `historique_commandes` WRITE;
/*!40000 ALTER TABLE `historique_commandes` DISABLE KEYS */;
INSERT INTO `historique_commandes` VALUES (3,1,1,'2025-07-07',NULL,NULL),(4,2,1,'2025-07-08',NULL,NULL),(7,2,2,'2025-07-08',NULL,NULL),(8,19,1,'2025-07-09','2025-07-09 06:44:37','2025-07-09 06:44:37'),(9,1,2,'2025-07-05',NULL,NULL),(10,20,1,'2025-07-09','2025-07-09 06:53:44','2025-07-09 06:53:44'),(11,19,2,'2025-07-30',NULL,NULL),(12,20,3,'2025-07-09',NULL,NULL),(13,21,1,'2025-07-09','2025-07-09 07:18:00','2025-07-09 07:18:00'),(14,22,1,'2025-07-09','2025-07-09 07:23:51','2025-07-09 07:23:51'),(15,22,2,'2025-07-24',NULL,NULL),(16,21,2,'2025-07-31',NULL,NULL);
/*!40000 ALTER TABLE `historique_commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `historique_ventes`
--

DROP TABLE IF EXISTS `historique_ventes`;
/*!50001 DROP VIEW IF EXISTS `historique_ventes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `historique_ventes` AS SELECT
 1 AS `nom_clients`,
  1 AS `email_clients`,
  1 AS `nom_gamme`,
  1 AS `montant`,
  1 AS `quantite`,
  1 AS `vente`,
  1 AS `livraison` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `job_batches`
--

DROP TABLE IF EXISTS `job_batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `job_batches` (
  `id` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `total_jobs` int(11) NOT NULL,
  `pending_jobs` int(11) NOT NULL,
  `failed_jobs` int(11) NOT NULL,
  `failed_job_ids` longtext NOT NULL,
  `options` mediumtext DEFAULT NULL,
  `cancelled_at` int(11) DEFAULT NULL,
  `created_at` int(11) NOT NULL,
  `finished_at` int(11) DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `job_batches`
--

LOCK TABLES `job_batches` WRITE;
/*!40000 ALTER TABLE `job_batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `job_batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `jobs`
--

DROP TABLE IF EXISTS `jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `queue` varchar(255) NOT NULL,
  `payload` longtext NOT NULL,
  `attempts` tinyint(3) unsigned NOT NULL,
  `reserved_at` int(10) unsigned DEFAULT NULL,
  `available_at` int(10) unsigned NOT NULL,
  `created_at` int(10) unsigned NOT NULL,
  PRIMARY KEY (`id`),
  KEY `jobs_queue_index` (`queue`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `jobs`
--

LOCK TABLES `jobs` WRITE;
/*!40000 ALTER TABLE `jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ligne_commandes`
--

DROP TABLE IF EXISTS `ligne_commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ligne_commandes` (
  `id_commande` bigint(20) unsigned NOT NULL,
  `id_lot` bigint(20) unsigned NOT NULL,
  `quantite_bouteilles` int(11) NOT NULL,
  `id_prix` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_commande`,`id_lot`),
  KEY `ligne_commandes_id_lot_foreign` (`id_lot`),
  KEY `ligne_commandes_id_prix_foreign` (`id_prix`),
  CONSTRAINT `ligne_commandes_id_commande_foreign` FOREIGN KEY (`id_commande`) REFERENCES `commandes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ligne_commandes_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `ligne_commandes_id_prix_foreign` FOREIGN KEY (`id_prix`) REFERENCES `prix` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ligne_commandes`
--

LOCK TABLES `ligne_commandes` WRITE;
/*!40000 ALTER TABLE `ligne_commandes` DISABLE KEYS */;
INSERT INTO `ligne_commandes` VALUES (1,4,2,1,NULL,NULL),(2,3,3,2,NULL,NULL),(19,2,1,2,'2025-07-09 06:44:36','2025-07-09 06:44:36'),(20,1,1,1,'2025-07-09 06:53:44','2025-07-09 06:53:44'),(21,1,12,1,'2025-07-09 07:17:59','2025-07-09 07:17:59'),(22,1,5,1,'2025-07-09 07:23:51','2025-07-09 07:23:51'),(22,3,5,1,'2025-07-09 07:23:51','2025-07-09 07:23:51');
/*!40000 ALTER TABLE `ligne_commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `lot_productions`
--

DROP TABLE IF EXISTS `lot_productions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `lot_productions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_gamme` bigint(20) unsigned NOT NULL,
  `id_bouteille` bigint(20) unsigned NOT NULL,
  `date_debut` date NOT NULL,
  `date_mise_en_bouteille` date DEFAULT NULL,
  `date_commercialisation` date DEFAULT NULL,
  `nombre_bouteilles` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `lot_productions_id_gamme_foreign` (`id_gamme`),
  KEY `lot_productions_id_bouteille_foreign` (`id_bouteille`),
  CONSTRAINT `lot_productions_id_bouteille_foreign` FOREIGN KEY (`id_bouteille`) REFERENCES `type_bouteilles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `lot_productions_id_gamme_foreign` FOREIGN KEY (`id_gamme`) REFERENCES `gammes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `lot_productions`
--

LOCK TABLES `lot_productions` WRITE;
/*!40000 ALTER TABLE `lot_productions` DISABLE KEYS */;
INSERT INTO `lot_productions` VALUES (1,1,1,'2025-07-01','2025-07-02','2025-07-04',500,NULL,NULL),(2,2,1,'2025-07-01','2025-07-03','2025-07-05',300,NULL,NULL),(3,1,1,'2025-07-01','2025-07-02','2025-07-04',500,NULL,NULL),(4,2,1,'2025-07-01','2025-07-03','2025-07-05',300,NULL,NULL);
/*!40000 ALTER TABLE `lot_productions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `materiels`
--

DROP TABLE IF EXISTS `materiels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `materiels` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `code` varchar(50) NOT NULL,
  `id_type_materiel` bigint(20) unsigned NOT NULL,
  `capacite` decimal(10,2) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `materiels_code_unique` (`code`),
  KEY `materiels_id_type_materiel_foreign` (`id_type_materiel`),
  CONSTRAINT `materiels_id_type_materiel_foreign` FOREIGN KEY (`id_type_materiel`) REFERENCES `type_materiels` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `materiels`
--

LOCK TABLES `materiels` WRITE;
/*!40000 ALTER TABLE `materiels` DISABLE KEYS */;
/*!40000 ALTER TABLE `materiels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `matiere_premieres`
--

DROP TABLE IF EXISTS `matiere_premieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `matiere_premieres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(100) NOT NULL,
  `description` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `matiere_premieres_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `matiere_premieres`
--

LOCK TABLES `matiere_premieres` WRITE;
/*!40000 ALTER TABLE `matiere_premieres` DISABLE KEYS */;
/*!40000 ALTER TABLE `matiere_premieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvement_produits`
--

DROP TABLE IF EXISTS `mouvement_produits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mouvement_produits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_lot` bigint(20) unsigned NOT NULL,
  `id_detail_mouvement` bigint(20) unsigned NOT NULL,
  `quantite_bouteilles` int(11) NOT NULL,
  `date_mouvement` datetime NOT NULL,
  `stock_actuel` int(11) NOT NULL DEFAULT 0,
  `seuil_minimum` int(11) NOT NULL DEFAULT 0,
  `date_mise_a_jour` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mouvement_produits_id_lot_foreign` (`id_lot`),
  KEY `mouvement_produits_id_detail_mouvement_foreign` (`id_detail_mouvement`),
  CONSTRAINT `mouvement_produits_id_detail_mouvement_foreign` FOREIGN KEY (`id_detail_mouvement`) REFERENCES `detail_mouvement_produits` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mouvement_produits_id_lot_foreign` FOREIGN KEY (`id_lot`) REFERENCES `lot_productions` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvement_produits`
--

LOCK TABLES `mouvement_produits` WRITE;
/*!40000 ALTER TABLE `mouvement_produits` DISABLE KEYS */;
INSERT INTO `mouvement_produits` VALUES (1,4,2,-2,'2025-07-07 00:00:00',0,0,NULL,NULL,NULL),(2,3,2,-3,'2025-07-08 00:00:00',0,0,NULL,NULL,NULL),(3,3,2,-3,'2025-07-08 00:00:00',0,0,NULL,NULL,NULL),(4,4,2,-2,'2025-07-05 00:00:00',0,0,NULL,NULL,NULL),(5,2,2,-1,'2025-07-30 00:00:00',0,0,NULL,NULL,NULL),(6,1,2,-5,'2025-07-24 00:00:00',0,0,NULL,NULL,NULL),(7,1,2,-12,'2025-07-31 00:00:00',0,0,NULL,NULL,NULL);
/*!40000 ALTER TABLE `mouvement_produits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvement_produits_commandes`
--

DROP TABLE IF EXISTS `mouvement_produits_commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mouvement_produits_commandes` (
  `id_mouvement_produit` bigint(20) unsigned NOT NULL,
  `id_commande` bigint(20) unsigned NOT NULL,
  `quantite` int(11) NOT NULL,
  `date_association` datetime NOT NULL DEFAULT current_timestamp(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id_mouvement_produit`,`id_commande`),
  KEY `mouvement_produits_commandes_id_commande_foreign` (`id_commande`),
  CONSTRAINT `mouvement_produits_commandes_id_commande_foreign` FOREIGN KEY (`id_commande`) REFERENCES `commandes` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mouvement_produits_commandes_id_mouvement_produit_foreign` FOREIGN KEY (`id_mouvement_produit`) REFERENCES `mouvement_produits` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvement_produits_commandes`
--

LOCK TABLES `mouvement_produits_commandes` WRITE;
/*!40000 ALTER TABLE `mouvement_produits_commandes` DISABLE KEYS */;
/*!40000 ALTER TABLE `mouvement_produits_commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `mouvement_stock_matiere_premieres`
--

DROP TABLE IF EXISTS `mouvement_stock_matiere_premieres`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `mouvement_stock_matiere_premieres` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_matiere` bigint(20) unsigned NOT NULL,
  `id_type_mouvement` bigint(20) unsigned NOT NULL,
  `id_detail_mouvement` bigint(20) unsigned NOT NULL,
  `quantite` decimal(10,2) NOT NULL,
  `date_mouvement` datetime NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `mouvement_stock_matiere_premieres_id_matiere_foreign` (`id_matiere`),
  KEY `mouvement_stock_matiere_premieres_id_type_mouvement_foreign` (`id_type_mouvement`),
  KEY `mouvement_stock_matiere_premieres_id_detail_mouvement_foreign` (`id_detail_mouvement`),
  CONSTRAINT `mouvement_stock_matiere_premieres_id_detail_mouvement_foreign` FOREIGN KEY (`id_detail_mouvement`) REFERENCES `detail_mouvement_stock_matiere_premieres` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mouvement_stock_matiere_premieres_id_matiere_foreign` FOREIGN KEY (`id_matiere`) REFERENCES `matiere_premieres` (`id`) ON DELETE CASCADE,
  CONSTRAINT `mouvement_stock_matiere_premieres_id_type_mouvement_foreign` FOREIGN KEY (`id_type_mouvement`) REFERENCES `type_mouvements` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `mouvement_stock_matiere_premieres`
--

LOCK TABLES `mouvement_stock_matiere_premieres` WRITE;
/*!40000 ALTER TABLE `mouvement_stock_matiere_premieres` DISABLE KEYS */;
/*!40000 ALTER TABLE `mouvement_stock_matiere_premieres` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paiement_commandes`
--

DROP TABLE IF EXISTS `paiement_commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `paiement_commandes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_commande` bigint(20) unsigned NOT NULL,
  `montant` int(11) NOT NULL,
  `date_paiement` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `paiement_commandes_id_commande_foreign` (`id_commande`),
  CONSTRAINT `paiement_commandes_id_commande_foreign` FOREIGN KEY (`id_commande`) REFERENCES `commandes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paiement_commandes`
--

LOCK TABLES `paiement_commandes` WRITE;
/*!40000 ALTER TABLE `paiement_commandes` DISABLE KEYS */;
INSERT INTO `paiement_commandes` VALUES (1,1,4500,'2025-07-05',NULL,NULL),(2,2,5400,'2025-07-06',NULL,NULL),(3,19,1800,'2025-07-09','2025-07-09 06:44:37','2025-07-09 06:44:37'),(4,20,1500,'2025-07-09','2025-07-09 06:53:44','2025-07-09 06:53:44'),(5,21,18000,'2025-07-09','2025-07-09 07:18:00','2025-07-09 07:18:00'),(6,22,15000,'2025-07-09','2025-07-09 07:23:51','2025-07-09 07:23:51');
/*!40000 ALTER TABLE `paiement_commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `password_reset_tokens` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prix`
--

DROP TABLE IF EXISTS `prix`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prix` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_gamme` bigint(20) unsigned NOT NULL,
  `prix_unitaire` decimal(10,2) NOT NULL,
  `date_debut` date NOT NULL,
  `date_fin` date DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prix_id_gamme_foreign` (`id_gamme`),
  CONSTRAINT `prix_id_gamme_foreign` FOREIGN KEY (`id_gamme`) REFERENCES `gammes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prix`
--

LOCK TABLES `prix` WRITE;
/*!40000 ALTER TABLE `prix` DISABLE KEYS */;
INSERT INTO `prix` VALUES (1,1,1500.00,'2025-07-01','2090-08-08',NULL,NULL),(2,2,1800.00,'2025-07-01','2090-08-08',NULL,NULL);
/*!40000 ALTER TABLE `prix` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `prix_materiels`
--

DROP TABLE IF EXISTS `prix_materiels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `prix_materiels` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_matiere_premiere` bigint(20) unsigned DEFAULT NULL,
  `prix` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `prix_materiels_id_matiere_premiere_foreign` (`id_matiere_premiere`),
  CONSTRAINT `prix_materiels_id_matiere_premiere_foreign` FOREIGN KEY (`id_matiere_premiere`) REFERENCES `matiere_premieres` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `prix_materiels`
--

LOCK TABLES `prix_materiels` WRITE;
/*!40000 ALTER TABLE `prix_materiels` DISABLE KEYS */;
/*!40000 ALTER TABLE `prix_materiels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `stats`
--

DROP TABLE IF EXISTS `stats`;
/*!50001 DROP VIEW IF EXISTS `stats`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `stats` AS SELECT
 1 AS `nom`,
  1 AS `montant`,
  1 AS `quantite`,
  1 AS `vente`,
  1 AS `livraison` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `stats_completes`
--

DROP TABLE IF EXISTS `stats_completes`;
/*!50001 DROP VIEW IF EXISTS `stats_completes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `stats_completes` AS SELECT
 1 AS `nom`,
  1 AS `montant`,
  1 AS `bouteille_vendue`,
  1 AS `date_vente`,
  1 AS `date_livraison`,
  1 AS `cout_matiere_unitaire`,
  1 AS `depense_total`,
  1 AS `marge` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `statut_commandes`
--

DROP TABLE IF EXISTS `statut_commandes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `statut_commandes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `statut_commandes_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statut_commandes`
--

LOCK TABLES `statut_commandes` WRITE;
/*!40000 ALTER TABLE `statut_commandes` DISABLE KEYS */;
INSERT INTO `statut_commandes` VALUES (1,'ouvert',NULL,NULL),(2,'valider',NULL,NULL),(3,'annuler',NULL,NULL);
/*!40000 ALTER TABLE `statut_commandes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statut_employes`
--

DROP TABLE IF EXISTS `statut_employes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `statut_employes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `statut_employes_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statut_employes`
--

LOCK TABLES `statut_employes` WRITE;
/*!40000 ALTER TABLE `statut_employes` DISABLE KEYS */;
INSERT INTO `statut_employes` VALUES (1,'Actif','2025-07-09 07:45:02','2025-07-09 07:45:02'),(2,'Inactif','2025-07-09 07:45:02','2025-07-09 07:45:02'),(3,'En cong├®','2025-07-09 07:45:02','2025-07-09 07:45:02');
/*!40000 ALTER TABLE `statut_employes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statut_lots`
--

DROP TABLE IF EXISTS `statut_lots`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `statut_lots` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `statut_lots_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statut_lots`
--

LOCK TABLES `statut_lots` WRITE;
/*!40000 ALTER TABLE `statut_lots` DISABLE KEYS */;
/*!40000 ALTER TABLE `statut_lots` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_bouteilles`
--

DROP TABLE IF EXISTS `type_bouteilles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_bouteilles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `capacite` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_bouteilles_nom_unique` (`nom`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_bouteilles`
--

LOCK TABLES `type_bouteilles` WRITE;
/*!40000 ALTER TABLE `type_bouteilles` DISABLE KEYS */;
INSERT INTO `type_bouteilles` VALUES (1,'Petite',0.50,NULL,NULL),(2,'Grande',1.00,NULL,NULL);
/*!40000 ALTER TABLE `type_bouteilles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_clients`
--

DROP TABLE IF EXISTS `type_clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_clients` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_clients_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_clients`
--

LOCK TABLES `type_clients` WRITE;
/*!40000 ALTER TABLE `type_clients` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_materiels`
--

DROP TABLE IF EXISTS `type_materiels`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_materiels` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_materiels_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_materiels`
--

LOCK TABLES `type_materiels` WRITE;
/*!40000 ALTER TABLE `type_materiels` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_materiels` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `type_mouvements`
--

DROP TABLE IF EXISTS `type_mouvements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `type_mouvements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `nom` varchar(50) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `type_mouvements_nom_unique` (`nom`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `type_mouvements`
--

LOCK TABLES `type_mouvements` WRITE;
/*!40000 ALTER TABLE `type_mouvements` DISABLE KEYS */;
/*!40000 ALTER TABLE `type_mouvements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
INSERT INTO `users` VALUES (1,'test','test@gmail.com',NULL,'$2y$12$mEwDYWETwGcMsCBvhJ9F0.zenrpKkqm3MtOTcplbSmqeKbeFDBufa',NULL,'2025-07-09 05:02:32','2025-07-09 05:02:32');
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ventes`
--

DROP TABLE IF EXISTS `ventes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `ventes` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `id_commande` bigint(20) unsigned NOT NULL,
  `date_vente` date NOT NULL,
  `montant` decimal(10,2) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ventes_id_commande_foreign` (`id_commande`),
  CONSTRAINT `ventes_id_commande_foreign` FOREIGN KEY (`id_commande`) REFERENCES `commandes` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ventes`
--

LOCK TABLES `ventes` WRITE;
/*!40000 ALTER TABLE `ventes` DISABLE KEYS */;
INSERT INTO `ventes` VALUES (1,1,'2025-07-07',4500.00,NULL,NULL),(2,2,'2025-07-08',5400.00,NULL,NULL),(3,2,'2025-07-08',5400.00,NULL,NULL),(4,1,'2025-07-05',4500.00,NULL,NULL),(5,19,'2025-07-30',1800.00,NULL,NULL),(6,22,'2025-07-24',15000.00,NULL,NULL),(7,21,'2025-07-31',18000.00,NULL,NULL);
/*!40000 ALTER TABLE `ventes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `vieillissement`
--

DROP TABLE IF EXISTS `vieillissement`;
/*!50001 DROP VIEW IF EXISTS `vieillissement`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vieillissement` AS SELECT
 1 AS `lot_id`,
  1 AS `id_gamme`,
  1 AS `id_bouteille`,
  1 AS `date_debut`,
  1 AS `date_mise_en_bouteille`,
  1 AS `date_commercialisation`,
  1 AS `nombre_bouteilles`,
  1 AS `nom_gamme`,
  1 AS `description_gamme`,
  1 AS `fermentation_jours`,
  1 AS `vieillissement_jours` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_debut_production_lot`
--

DROP TABLE IF EXISTS `vue_debut_production_lot`;
/*!50001 DROP VIEW IF EXISTS `vue_debut_production_lot`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_debut_production_lot` AS SELECT
 1 AS `id_lot`,
  1 AS `id_gamme`,
  1 AS `nom_gamme`,
  1 AS `date_debut`,
  1 AS `nombre_bouteilles`,
  1 AS `id_matiere`,
  1 AS `nom_matiere`,
  1 AS `quantite_unitaire`,
  1 AS `quantite_totale` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_details_commandes`
--

DROP TABLE IF EXISTS `vue_details_commandes`;
/*!50001 DROP VIEW IF EXISTS `vue_details_commandes`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_details_commandes` AS SELECT
 1 AS `idCommande`,
  1 AS `date_commande`,
  1 AS `date_livraison`,
  1 AS `id_client`,
  1 AS `nom`,
  1 AS `id_lot`,
  1 AS `nom_gamme`,
  1 AS `nom_bouteille`,
  1 AS `capacite_bouteille`,
  1 AS `idGamme`,
  1 AS `quantite_bouteilles`,
  1 AS `montant_paye`,
  1 AS `date_paiement`,
  1 AS `idhistorique`,
  1 AS `idstatus`,
  1 AS `prixUnitaire`,
  1 AS `montant_ligne` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_historique_matiere_premiere`
--

DROP TABLE IF EXISTS `vue_historique_matiere_premiere`;
/*!50001 DROP VIEW IF EXISTS `vue_historique_matiere_premiere`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_historique_matiere_premiere` AS SELECT
 1 AS `id`,
  1 AS `nom`,
  1 AS `qtte`,
  1 AS `date_mouvement` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_reste_bouteilles_par_lot`
--

DROP TABLE IF EXISTS `vue_reste_bouteilles_par_lot`;
/*!50001 DROP VIEW IF EXISTS `vue_reste_bouteilles_par_lot`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_reste_bouteilles_par_lot` AS SELECT
 1 AS `id_lot`,
  1 AS `id_gamme`,
  1 AS `id_bouteille`,
  1 AS `nom_bouteille`,
  1 AS `capacite_bouteille`,
  1 AS `date_debut`,
  1 AS `date_mise_en_bouteille`,
  1 AS `date_commercialisation`,
  1 AS `nombre_bouteilles`,
  1 AS `reste_bouteilles` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_reste_bouteilles_par_lot_avec_date`
--

DROP TABLE IF EXISTS `vue_reste_bouteilles_par_lot_avec_date`;
/*!50001 DROP VIEW IF EXISTS `vue_reste_bouteilles_par_lot_avec_date`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_reste_bouteilles_par_lot_avec_date` AS SELECT
 1 AS `id_lot`,
  1 AS `id_gamme`,
  1 AS `id_bouteille`,
  1 AS `nom_bouteille`,
  1 AS `capacite_bouteille`,
  1 AS `date_debut`,
  1 AS `date_mise_en_bouteille`,
  1 AS `date_commercialisation`,
  1 AS `nombre_bouteilles`,
  1 AS `reste_bouteilles` */;
SET character_set_client = @saved_cs_client;

--
-- Temporary table structure for view `vue_situation_matiere_premiere`
--

DROP TABLE IF EXISTS `vue_situation_matiere_premiere`;
/*!50001 DROP VIEW IF EXISTS `vue_situation_matiere_premiere`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8;
/*!50001 CREATE VIEW `vue_situation_matiere_premiere` AS SELECT
 1 AS `id`,
  1 AS `nom`,
  1 AS `qtte`,
  1 AS `date_mouvement` */;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `historique_ventes`
--

/*!50001 DROP VIEW IF EXISTS `historique_ventes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = cp850 */;
/*!50001 SET character_set_results     = cp850 */;
/*!50001 SET collation_connection      = cp850_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `historique_ventes` AS select `clients`.`nom` AS `nom_clients`,`clients`.`email` AS `email_clients`,`gammes`.`nom` AS `nom_gamme`,`commandes`.`total` AS `montant`,`ligne_commandes`.`quantite_bouteilles` AS `quantite`,`commandes`.`date_commande` AS `vente`,`commandes`.`date_livraison` AS `livraison` from ((((`clients` join `commandes` on(`commandes`.`id_client` = `clients`.`id`)) join `ligne_commandes` on(`ligne_commandes`.`id_commande` = `commandes`.`id`)) join `lot_productions` on(`ligne_commandes`.`id_lot` = `lot_productions`.`id`)) join `gammes` on(`lot_productions`.`id_gamme` = `gammes`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `stats`
--

/*!50001 DROP VIEW IF EXISTS `stats`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `stats` AS select `gammes`.`nom` AS `nom`,`commandes`.`total` AS `montant`,`ligne_commandes`.`quantite_bouteilles` AS `quantite`,`commandes`.`date_commande` AS `vente`,`commandes`.`date_livraison` AS `livraison` from ((((`ventes` join `commandes` on(`ventes`.`id_commande` = `commandes`.`id`)) join `ligne_commandes` on(`ligne_commandes`.`id_commande` = `commandes`.`id`)) join `lot_productions` on(`ligne_commandes`.`id_lot` = `lot_productions`.`id`)) join `gammes` on(`lot_productions`.`id_gamme` = `gammes`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `stats_completes`
--

/*!50001 DROP VIEW IF EXISTS `stats_completes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `stats_completes` AS select `gammes`.`nom` AS `nom`,`commandes`.`total` AS `montant`,`ligne_commandes`.`quantite_bouteilles` AS `bouteille_vendue`,`commandes`.`date_commande` AS `date_vente`,`commandes`.`date_livraison` AS `date_livraison`,sum(`gamme_matieres`.`quantite` * coalesce(`prix_materiels`.`prix`,0)) AS `cout_matiere_unitaire`,sum(`gamme_matieres`.`quantite` * coalesce(`prix_materiels`.`prix`,0)) * `ligne_commandes`.`quantite_bouteilles` AS `depense_total`,`ligne_commandes`.`quantite_bouteilles` * `table_prix`.`prix_unitaire` - sum(`gamme_matieres`.`quantite` * coalesce(`prix_materiels`.`prix`,0)) * `ligne_commandes`.`quantite_bouteilles` AS `marge` from ((((((`commandes` join `ligne_commandes` on(`commandes`.`id` = `ligne_commandes`.`id_commande`)) join `lot_productions` on(`ligne_commandes`.`id_lot` = `lot_productions`.`id`)) join `gammes` on(`lot_productions`.`id_gamme` = `gammes`.`id`)) join `gamme_matieres` on(`gammes`.`id` = `gamme_matieres`.`id_gamme`)) join `prix` `table_prix` on(`ligne_commandes`.`id_prix` = `table_prix`.`id` and `commandes`.`date_commande` between `table_prix`.`date_debut` and `table_prix`.`date_fin`)) left join `prix_materiels` on(`gamme_matieres`.`id_matiere` = `prix_materiels`.`id_matiere_premiere`)) group by `commandes`.`id`,`gammes`.`nom`,`commandes`.`total`,`ligne_commandes`.`quantite_bouteilles`,`table_prix`.`prix_unitaire`,`commandes`.`date_commande`,`commandes`.`date_livraison` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vieillissement`
--

/*!50001 DROP VIEW IF EXISTS `vieillissement`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vieillissement` AS select `lp`.`id` AS `lot_id`,`lp`.`id_gamme` AS `id_gamme`,`lp`.`id_bouteille` AS `id_bouteille`,`lp`.`date_debut` AS `date_debut`,`lp`.`date_mise_en_bouteille` AS `date_mise_en_bouteille`,`lp`.`date_commercialisation` AS `date_commercialisation`,`lp`.`nombre_bouteilles` AS `nombre_bouteilles`,`g`.`nom` AS `nom_gamme`,`g`.`description` AS `description_gamme`,`g`.`fermentation_jours` AS `fermentation_jours`,`g`.`vieillissement_jours` AS `vieillissement_jours` from (`lot_productions` `lp` join `gammes` `g` on(`lp`.`id_gamme` = `g`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_debut_production_lot`
--

/*!50001 DROP VIEW IF EXISTS `vue_debut_production_lot`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_debut_production_lot` AS select `lot_productions`.`id` AS `id_lot`,`lot_productions`.`id_gamme` AS `id_gamme`,`gammes`.`nom` AS `nom_gamme`,`lot_productions`.`date_debut` AS `date_debut`,`lot_productions`.`nombre_bouteilles` AS `nombre_bouteilles`,`matiere_premieres`.`id` AS `id_matiere`,`matiere_premieres`.`nom` AS `nom_matiere`,`gamme_matieres`.`quantite` AS `quantite_unitaire`,`gamme_matieres`.`quantite` * `lot_productions`.`nombre_bouteilles` AS `quantite_totale` from (((`lot_productions` join `gammes` on(`gammes`.`id` = `lot_productions`.`id_gamme`)) join `gamme_matieres` on(`gamme_matieres`.`id_gamme` = `lot_productions`.`id_gamme`)) join `matiere_premieres` on(`matiere_premieres`.`id` = `gamme_matieres`.`id_matiere`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_details_commandes`
--

/*!50001 DROP VIEW IF EXISTS `vue_details_commandes`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_details_commandes` AS select `c`.`id` AS `idCommande`,`c`.`date_commande` AS `date_commande`,`c`.`date_livraison` AS `date_livraison`,`c`.`id_client` AS `id_client`,`cl`.`nom` AS `nom`,`lc`.`id_lot` AS `id_lot`,`g`.`nom` AS `nom_gamme`,`tb`.`nom` AS `nom_bouteille`,`tb`.`capacite` AS `capacite_bouteille`,`g`.`id` AS `idGamme`,`lc`.`quantite_bouteilles` AS `quantite_bouteilles`,`p`.`montant` AS `montant_paye`,`p`.`date_paiement` AS `date_paiement`,`stc`.`id` AS `idhistorique`,`stc`.`id_status_commande` AS `idstatus`,`pr`.`prix_unitaire` AS `prixUnitaire`,`lc`.`quantite_bouteilles` * `pr`.`prix_unitaire` AS `montant_ligne` from ((((((((`commandes` `c` join `ligne_commandes` `lc` on(`c`.`id` = `lc`.`id_commande`)) join `lot_productions` `lp` on(`lc`.`id_lot` = `lp`.`id`)) join `gammes` `g` on(`lp`.`id_gamme` = `g`.`id`)) join `type_bouteilles` `tb` on(`lp`.`id_bouteille` = `tb`.`id`)) join `clients` `cl` on(`c`.`id_client` = `cl`.`id`)) join `historique_commandes` `stc` on(`c`.`id` = `stc`.`id_commande`)) join `prix` `pr` on(`pr`.`id` = `lc`.`id_prix`)) join `paiement_commandes` `p` on(`c`.`id` = `p`.`id_commande`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_historique_matiere_premiere`
--

/*!50001 DROP VIEW IF EXISTS `vue_historique_matiere_premiere`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_historique_matiere_premiere` AS select `matiere_premieres`.`id` AS `id`,`matiere_premieres`.`nom` AS `nom`,case when `mouvement_stock_matiere_premieres`.`id_type_mouvement` = 1 then -`mouvement_stock_matiere_premieres`.`quantite` else `mouvement_stock_matiere_premieres`.`quantite` end AS `qtte`,`mouvement_stock_matiere_premieres`.`date_mouvement` AS `date_mouvement` from (`mouvement_stock_matiere_premieres` join `matiere_premieres` on(`mouvement_stock_matiere_premieres`.`id_matiere` = `matiere_premieres`.`id`)) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_reste_bouteilles_par_lot`
--

/*!50001 DROP VIEW IF EXISTS `vue_reste_bouteilles_par_lot`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_reste_bouteilles_par_lot` AS select `lp`.`id` AS `id_lot`,`lp`.`id_gamme` AS `id_gamme`,`lp`.`id_bouteille` AS `id_bouteille`,`tb`.`nom` AS `nom_bouteille`,`tb`.`capacite` AS `capacite_bouteille`,`lp`.`date_debut` AS `date_debut`,`lp`.`date_mise_en_bouteille` AS `date_mise_en_bouteille`,`lp`.`date_commercialisation` AS `date_commercialisation`,`lp`.`nombre_bouteilles` AS `nombre_bouteilles`,coalesce(`lp`.`nombre_bouteilles`,0) + coalesce(sum(case when `mpc`.`id_commande` is null then `mp`.`quantite_bouteilles` when `hc`.`id_status_commande` > 1 then `mp`.`quantite_bouteilles` else 0 end),0) AS `reste_bouteilles` from (((((`lot_productions` `lp` left join `mouvement_produits` `mp` on(`mp`.`id_lot` = `lp`.`id`)) left join `mouvement_produits_commandes` `mpc` on(`mpc`.`id_mouvement_produit` = `mp`.`id`)) left join `commandes` `c` on(`c`.`id` = `mpc`.`id_commande`)) left join `historique_commandes` `hc` on(`hc`.`id_commande` = `c`.`id` and `hc`.`date_hist` = (select max(`hc2`.`date_hist`) from `historique_commandes` `hc2` where `hc2`.`id_commande` = `c`.`id`))) left join `type_bouteilles` `tb` on(`tb`.`id` = `lp`.`id_bouteille`)) group by `lp`.`id`,`lp`.`id_gamme`,`lp`.`id_bouteille`,`tb`.`nom`,`tb`.`capacite`,`lp`.`date_debut`,`lp`.`date_mise_en_bouteille`,`lp`.`date_commercialisation`,`lp`.`nombre_bouteilles` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_reste_bouteilles_par_lot_avec_date`
--

/*!50001 DROP VIEW IF EXISTS `vue_reste_bouteilles_par_lot_avec_date`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_reste_bouteilles_par_lot_avec_date` AS select `lp`.`id` AS `id_lot`,`lp`.`id_gamme` AS `id_gamme`,`lp`.`id_bouteille` AS `id_bouteille`,`tb`.`nom` AS `nom_bouteille`,`tb`.`capacite` AS `capacite_bouteille`,`lp`.`date_debut` AS `date_debut`,`lp`.`date_mise_en_bouteille` AS `date_mise_en_bouteille`,`lp`.`date_commercialisation` AS `date_commercialisation`,`lp`.`nombre_bouteilles` AS `nombre_bouteilles`,coalesce(`lp`.`nombre_bouteilles`,0) + coalesce(sum(case when `mpc`.`id_commande` is null then `mp`.`quantite_bouteilles` when `hc`.`id_status_commande` > 1 then `mp`.`quantite_bouteilles` else 0 end),0) AS `reste_bouteilles` from (((((`lot_productions` `lp` left join `mouvement_produits` `mp` on(`mp`.`id_lot` = `lp`.`id` and `mp`.`date_mouvement` <= curdate())) left join `mouvement_produits_commandes` `mpc` on(`mpc`.`id_mouvement_produit` = `mp`.`id`)) left join `commandes` `c` on(`c`.`id` = `mpc`.`id_commande` and `c`.`date_commande` <= curdate())) left join `historique_commandes` `hc` on(`hc`.`id_commande` = `c`.`id` and `hc`.`date_hist` = (select max(`hc2`.`date_hist`) from `historique_commandes` `hc2` where `hc2`.`id_commande` = `c`.`id` and `hc2`.`date_hist` <= curdate()))) left join `type_bouteilles` `tb` on(`tb`.`id` = `lp`.`id_bouteille`)) group by `lp`.`id`,`lp`.`id_gamme`,`lp`.`id_bouteille`,`tb`.`nom`,`tb`.`capacite`,`lp`.`date_debut`,`lp`.`date_mise_en_bouteille`,`lp`.`date_commercialisation`,`lp`.`nombre_bouteilles` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vue_situation_matiere_premiere`
--

/*!50001 DROP VIEW IF EXISTS `vue_situation_matiere_premiere`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_unicode_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vue_situation_matiere_premiere` AS select `rep`.`id` AS `id`,`rep`.`nom` AS `nom`,sum(`rep`.`qtte`) AS `qtte`,max(`rep`.`date_mouvement`) AS `date_mouvement` from `vue_historique_matiere_premiere` `rep` group by `rep`.`id`,`rep`.`nom` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-07-09 13:48:35
